.boxPreview{
    color: #333;
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: .35rem;
    margin: 0.5rem 1rem;
    padding: 0.5rem 0rem;


}
.boxPreview p{
    margin: 0;
}

.imagePrato{
    max-width: 100%;
    width: 8rem;
    margin: 1rem;
}

.pratonome{
    font-size: 1.2rem;
    font-weight: 700;
    color: #333;
}
.testContent{
    padding: 0 2rem;
}

@media (max-width: 600px) {
    .testContent{
        padding: 0 1.5rem;
    }
}

@media (max-width: 1184px) {
    .deletePrat{
        position: absolute;
        right: 0;
        top: 0;
    }
    .boxPreview{
        padding: 0.5rem 0rem;
        position: relative;
        margin: 0 0.5rem;
        grid-template-columns: 2fr 5fr;


    
    
    }
    
}